<p>This is the <strong>{{page.fulltitle}}</strong> footer


<main>


  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <blockquote class="blockquote">
        <p>When people think about computer science, they imagine people with pocket protectors and thick glasses who code all night"</p>
        <footer class="blockquote-footer">Marissa Mayer <cite title="Source Title"></cite></footer>
      </blockquote>



    </div>
  </nav>
  </main>
